*{
    background-color: #FAFAFA;
}

.homepage-container{
    min-height: 100vh;
}

.items-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
    margin-left: 5%;

}